*.tif
*/*.tif
data/pretrain
/data
/train/experiments
/carbonmapper_data_l2a
/carbon_mapper_data
/carbon_mapper_data_masks
/train/wandb
/carbonmapper_data_s2_l2a
/carbonmapper_data_l89_l2sp
/GHGsat
/carbonmapper_data_era5_records
/carbonmapper_data_l2a_90360
/data_csv/*
/train/byol/byol_env
/carbonmapper_data_l89_l2sp_90360
/carbonmapper_data_s2_l2a_complement_by_gee_-7
/carbonmapper_data_s2_l2a_complement_by_gee
/carbonmapper_data_s2_l2a_gee_download
/carbonmapper_data_s5p_90360
/CM_S2_l8
/preprocess_dataset_L89/emit_raw_data
/preprocess_dataset_L89/emit_data
/preprocess_dataset_L89/simulated_landsat_tifs
/CM_s2_l8_l89.tar.gz
/CM_s2_l8_s2.tar.gz
/Pictures/CM_s2_l8_l89.tar.gz
/Pictures/CM_s2_l8_s2.tar.gz
/csvs
/preprocess_dataset_L89/local_emit_buffer
__pycache__/
*.pyc
.vscode/
.idea/
settings.json
*.code-workspace
